/* editing navbar bootstrap settings */
.navbar-brand{
    color:white;
}
.navbar-brand:hover{
    color:white;
}
.navbar-nav{
    right:0;
}
/* font sizes from title, subtitle, and text*/
.title{
    font-size:4em; 
}
.view-text{ 
    font-size:4vw;
}
.quote{
    font-size:1.5em;
}
/* specifying the container of the title text */
#title{
    z-index:1;
    position:absolute;
    top:20%;
    margin-left: 12%;
    padding: 3%;
    width:60%;
    overflow-wrap:break-word;
    color:white;
}

/* carousel images resize, center aligned, as screen size changes */
.center{
    object-fit: cover;
    width:100%;
    height:700px;
    object-position: center;
}

/* fix header height */
header{
    height:700px;
}

/* adjust margin and font-size in desktop size*/
@media screen and (min-width: 992px){
    .title{
        font-size:6em; 
    }
    #title{
        top:25%;
    }
}